@use "sass:math";

$can-width: 225px;
$can-height: 575px;
$strong-yellow: #F0E545;

* {
    font-family: 'Fjalla One', sans-serif;
}

body {
    background-color: #ffffff;
}

.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    position: relative;
}

.can {
    position: absolute;
    width: $can-width;
    height: $can-height;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 75px;
        background-color: #9d9d9d;
        clip-path: polygon(5% 0, 95% 0, 100% 12.5px, 0 12.5px);
    }
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 25px;
        bottom: -5px;
        background-color: #9d9d9d;
        clip-path: polygon(0 0, 100% 0, 95% 15px, 5% 15px);
    }
}

.can-fill {
    position: absolute;
    background-color: #e1e1e1;
    margin-top: 12.5px;
    width: 100%;
    height: 400px;
}

.lemons {
    margin-top: 55px;
    margin-left: 10px;
}

.lemon-left {
    position: absolute;
    width: 90px;
    height: 90px;
    translate: 20px 30px;
    border-radius: 50%;
    background-color: $strong-yellow;
    rotate: -15deg;
    border: 6px solid white;
    box-shadow:
        0px 0px 0px 5px $strong-yellow,
        0px 0px 0px 6px darken($color: $strong-yellow, $amount: 12%),
        8px 0px 0px 5px darken($color: $strong-yellow, $amount: 13.5%);

    &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        border: 5px solid white;
        translate: 35px 35px;
    }
}

.lemon-left-lines {
    translate: -2.5px 42.5px;

    div:nth-child(1) {
        position: absolute;
        width: 100%;
        background-color: white;
        border: 2.25px solid white;
    }
    div:nth-child(2) {
        position: absolute;
        width: 100%;
        background-color: white;
        border: 2.25px solid white;
        rotate: 45deg;
    }
    div:nth-child(3) {
        position: absolute;
        width: 100%;
        background-color: white;
        border: 2.25px solid white;
        rotate: 90deg;
    }
    div:nth-child(4) {
        position: absolute;
        width: 100%;
        background-color: white;
        border: 2.25px solid white;
        rotate: 135deg;
    }
}

.lemon-right {
    position: absolute;
    width: 100px;
    height: 125px;
    translate: 80px -5px;
    border-radius: 75px;
    background-color: $strong-yellow;
    rotate: -15deg;
    box-shadow:
        0px -40px 0px -31px $strong-yellow,
        0px 40px 0px -31px $strong-yellow;
}

.title {
    color: black;
    width: $can-width;
    height: 50px;
    margin-top: 205px;
    margin-bottom: 80px;
    font-size:  55px;
    font-weight: 900;
    text-shadow: 1px 0px 1px black;
    letter-spacing: 1px;
    line-height: 55px;
    text-align: center;
    transform: rotate(-10deg) translateX(-90px);

    &::before {
        position: absolute;
        content: "STRONG ZERO";
    }
}

.subtitle {
    position: absolute;
    color: black;
    width: $can-width;
    height: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.5px;

    &::before {
        position: absolute;
        content: "ダブルレモン"; // double lemon
        transform: rotate(-10deg);
        translate: 55px -2.5px;
    }
}

.ribbon {
    position: absolute;
    width: $can-width;
    height: 80px;
    margin-top: -30px;
    background-color: $strong-yellow;
    clip-path: polygon(0 40px, $can-width 0, $can-width 40px, 0 80px);
}

.can-bottom {
    position: absolute;
    height: 210px;
    width: $can-width;
    margin-top: 10px;
    background-color: black;
}

.abv {
    font-family: 'Lato', sans-serif;
    width: $can-width;
    height: 75px;
    margin-left: 130px;
    margin-top: 10px;
    transform: scale(0.75, 1.1);

    &::before {
        position: absolute;
        content: "9";
        color: $strong-yellow;
        font-size: 80px;
        font-weight: 100;
    }
    &::after {
        position: absolute;
        content: "アルコール分"; // alcohol content
        color: white;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 0.5px;
        scale: 75% 95%;
        translate: 0px 78px;
    }
}

.abv-label {
    color: white;
    letter-spacing: 2.5px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
    
    &::before {
        position: absolute;
        content: "ALC.";
        font-size: 14px;
        translate: 47px 42px;
    }
    &::after {
        position: absolute;
        content: "%";
        font-size: 21px;
        font-weight: 100;
        translate: 52px 57px;
        scale: 150% 100%
    }
}

.suntory {
    position: absolute;
    color: white;
    border: 1px solid white;
    height: 40px;
    width: 50px;
    translate: 82.5px -5px;

    &::before {
        position: absolute;
        content: "SUNTORY";
        font-size: 7px;
        font-weight: 900;
        letter-spacing: 1px;
        scale: 100% 75%;
        translate: 9px 1px;
    }
    &::after {
        position: absolute;
        content: "-196°c";
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 900;
        scale: 75% 100%;
        translate: -3px 6px;
    }
}

.suntory-bottom {
    position: absolute;
    color: white;
    background-color: rgb(230, 44, 44);
    width: 100%;
    height: 11px;
    border-top: 1px solid white;
    translate: 0px 28px;

    &::before {
        position: absolute;
        content: "糖類ゼロ."; // zero saccharides
        font-size: 8px;
        font-weight: 900;
        letter-spacing: 1.75px;
        scale: 100% 80%;
        translate: 5px -1px;
    }
}

.bottom-circle {
    position: absolute;
    color: black;
    background-color: white;
    width: 50px;
    height: 50px;
    font-weight: 900;
    border-radius: 25px;
    overflow: visible;
    translate: 8px 42.5px;

    &::before {
        position: absolute;
        content: "さけ"; // sake
        font-size: 8px;
        translate: 27px 5px;
        scale: 80% 100%;
    }
    &::after {
        position: absolute;
        content: "お酒"; // sake
        font-size: 23px;
        translate: 0px 9px;
        scale: 70% 100%;
        letter-spacing: 2px;
    }
}

.bottom-text {
    position: absolute;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 10px;
    height: 25px;
    width: 100%;
    bottom: 5px;

    &::before {
        position: absolute;
        content: "";
    }
    &::after {
        position: absolute;
        content: "プリン体ゼロヰ"; // zero purines
        translate: 154px -10px;
        letter-spacing: 1.25px;
        font-weight: 100;
        font-size: 10px;
        scale: 65% 100%;
    }
}

.bottom-text-left {
    position: absolute;
    color: white;
    width: 250px;

    &::before {
        position: absolute;
        content: "チューハイ"; // chuhai
        font-size: 14px;
        letter-spacing: 0.1px;
        translate: -12px 0px;
        scale: 50% 100%;
    }
    &::after {
        position: absolute;
        content: "スピリッツ(発泡性) ①"; // spirits(effervescent)
        letter-spacing: 0.25px;
        font-weight: 100;
        font-size: 10px;
        translate: 28px 3.5px;
        scale: 65% 100%;
    }
}

.bottom-text-right {
    position: absolute;
    color: white;
    width: 250px;
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 0.1px;
    scale: 65% 100%;

    &::before {
        position: absolute;
        content: "レモン果汁3%"; // lemon fruit juice 3%
        translate: 115px 3.5px;
    }
    &::after {
        position: absolute;
        content: "レモン浸漬ル使用"; // lemon immersion alcohol use
        translate: 190px 3.5px;
    }
}
