@use "sass:math";

$can-width: 200px;
$can-height: 500px;
$strong-yellow: #F0E545;

* {
    font-family: 'Fjalla One', sans-serif;
}

body {
    background-color: #575858;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.can {
    display: absolute;
    background-color: #cdcdcd;
    width: $can-width;
    height: $can-height;

    &::before {
        content: "";
        position: absolute;
        width: $can-width;
        height: 75px;
        border-bottom: 2px magenta dashed;
    }
    &::after {
        content: "";
        position: absolute;
        width: $can-width;
        height: 25px;
        bottom: 0;
        border-top: 2px magenta dashed;
    }
}

.title {
    color: black;
    width: $can-width;
    height: 50px;
    margin-top: 150px;
    margin-left: 25px;
    margin-bottom: 85px;
    font-size:  55px;
    font-weight: 900;
    text-shadow: 1px 0px 1px black;
    letter-spacing: 1px;
    line-height: 55px;
    text-align: center;
    transform: rotate(-15deg) translateX(-30px);

    &::before {
        content: "STRONG ZERO";
    }
}

.subtitle {
    position: absolute;
    color: black;
    width: $can-width;
    height: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.5px;

    &::before {
        position: absolute;
        content: "ダブルレモン"; // Dabururemon (double lemon)
        transform: rotate(-15deg);
        translate: 40px 0px;
    }
}

.ribbon {
    position: absolute;
    width: $can-width;
    height: 90px;
    margin-top: -32px;
    background-color: $strong-yellow;
    clip-path: polygon(0 45px, $can-width 0, $can-width 45px, 0 90px);
}

.can-bottom {
    position: absolute;
    height: 180px;
    width: $can-width;
    margin-top: 13px;
    background-color: black;
}

.abv {
    font-family: 'Lato', sans-serif;
    width: $can-width;
    height: 75px;
    margin-left: 105px;
    margin-top: 10px;
    transform: scale(0.75, 1.1);

    &::before {
        position: absolute;
        content: "9";
        color: $strong-yellow;
        font-size: 80px;
        font-weight: 900;
    }
    &::after {
        position: absolute;
        content: "アルコール";  // Arukōru (alcohol)
        color: white;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 2px;
        translate: 4px 80px;
    }
}

.abv-label {
    color: white;
    letter-spacing: 2.5px;
    font-family: 'Fjalla One', sans-serif;
    
    &::before {
        position: absolute;
        content: "ALC.";
        font-size: 14px;
        font-weight: 100;
        translate: 56px 42px;
    }
    &::after {
        position: absolute;
        content: "%";
        font-size: 22px;
        font-weight: 100;
        translate: 60px 57px;
        scale: 150% 100%
    }
}

.suntory {
    position: absolute;
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 60px;
    translate: 55px -10px;
    
    &::before {
        position: absolute;
        content: "SUNTORY";
        font-size: 9px;
        font-weight: 900;
        letter-spacing: 2.0px;
        scale: 100% 75%;
        translate: 9px 0px;
    }
    &::after {
        position: absolute;
        content: "-196°c";
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 900;
        scale: 75% 100%;
        translate: -7px 8px;
    }
}

.suntory-bottom {
    position: absolute;
    color: white;
    background-color: rgb(230, 44, 44);
    width: 100%;
    height: 14px;
    border-top: 1px solid white;
    translate: 0px 35px;

    &::before {
        position: absolute;
        content: "糖類ゼロ."; // zero saccharides (sugar)
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 2px;
        scale: 100% 75%;
        translate: 6px -1px;
    }
}